@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 'Circe';
  color: #666666;
}

.main {
  width: 1351px;
  margin: 0 auto;
}

.main {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  background-image: url(./assets/bg.svg);
  width: 100%;
  height: 100%;
}

.top-right-back {
  float: right;
  width: 42.09%;
  height: 693px;
  border-radius: 0 0 0 50px;
  background-color: #938EF5;
  z-index: 1;
  top: 0;
  right: 0;
}

.wrapper {
  padding: 100px 23px;
}

.wrapper > .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purple {
  color: #938EF5;
}

.head {
  height: 568px;
}

.head__left {
  z-index: 2;
  margin-top: 23px;
  width: 832px;
  position: absolute;
  padding: 48px 0 60px 42px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
}

.head__left__name {
  font-size: 98px;
  text-transform: uppercase;
  line-height: 117%;
  font-weight: 800;
  letter-spacing: -2.1px;
}

.head__left__name_1 {
  color: #938EF5;
  position: absolute;
}

.head__left__name_2 {
  position: relative;
  top: 5px;
  left: 5px;
}

@supports (-webkit-text-stroke: 1px blue) {
  .head__left__name_2 {
    /* если есть поддержка свойства: невидимый текст посетителям не понравится */
    color: transparent;
    /* прозрачный цвет букв */
    -webkit-text-stroke: 1px blue;
  }
}

.head__left__position {
  font-size: 25px;
  font-weight: 800;
  padding-top: 4px;
  padding-left: 9px;
}

.head__left__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9px;
  margin-top: 33px;
  font-size: 25px;
  line-height: 120%;
}

.head__left__contacts a {
  text-decoration: none;
}

.head__left__contacts__left {
  width: 124px;
  color: #938EF5;
  font-weight: 800;
}

.head__left__contacts__left a {
  color: #938EF5;
}

.head__right {
  z-index: 3;
  position: absolute;
  left: 692px;
}

.head__right__img {
  width: 502px;
  border-radius: 10%;
}

.head__right__mobile {
  display: none;
}

.content {
  margin-left: 25px;
  margin-top: 100px;
}

.title {
  font-weight: 800;
  font-size: 55px;
}

.profile {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  margin-top: 49px;
  padding: 23px 27px 34px;
  padding: 23px 27px 44px;
  margin-right: 8.2%;
}

.profile__text {
  font-size: 25px;
  line-height: 120%;
  padding-top: 14px;
}

.projects {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  margin-top: 49px;
  padding: 23px 27px 34px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 47px;
}

.projects__text {
  font-size: 25px;
  line-height: 120%;
  padding-top: 14px;
}

.projects .purple {
  font-weight: 800;
}

.two-glass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  margin-top: 49px;
  padding: 23px 27px 34px;
  margin-top: 47px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 12.3%;
}

.skills__text {
  font-size: 25px;
  line-height: 120%;
  padding-top: 14px;
}

.english {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  margin-top: 49px;
  padding: 23px 27px 34px;
  margin-top: 47px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.english__text {
  font-size: 25px;
  line-height: 120%;
  padding-top: 14px;
}

@media (min-width: 1352px) {
  .top-right-back {
    width: 45.7%;
  }
  .wrapper {
    width: calc(1351px - 23px);
    margin: 0 auto;
  }
  .head__right {
    left: 49.6%;
  }
  .profile {
    margin-right: 8%;
  }
}

@media (max-width: 1201px) {
  .top-right-back {
    position: absolute;
    left: 62.9%;
  }
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 80%;
  }
  .head__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head__right__img {
    width: 390px;
    border-radius: 10%;
  }
}

@media (max-width: 1030px) {
  .head__right {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-right-back {
    height: 500px;
  }
  .head__left__name {
    font-size: 66px;
  }
  .head__left__position {
    font-size: 20px;
  }
  .head__left__contacts {
    font-size: 20px;
  }
  .profile__text, .projects__text, .skills__text, .english__text {
    font-size: 20px;
  }
  .title {
    font-size: 35px;
  }
  .two-glass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding: 20px 0 20px 5px;
  }
  .top-right-back {
    height: 400px;
    left: revert;
  }
  .head__left {
    width: 90%;
    padding: 25px 0 60px 22px;
  }
  .head__left__name {
    font-size: 44px;
  }
  .head__left__position {
    font-size: 18px;
  }
  .head__left__contacts {
    font-size: 18px;
  }
  .content {
    margin: 70px 0 0 0;
  }
  .profile, .projects, .skills, .english {
    width: 81%;
  }
  .profile__text, .projects__text, .skills__text, .english__text {
    font-size: 18px;
    word-wrap: break-word;
  }
  .title {
    font-size: 30px;
  }
  .two-glass {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */